

<div class="footer fadein container">
	<div class="row justify-content-evenly">
    <div class="col-lg-3">
			<h4>About</h4>
			<p>Jake was born and raised in Calvert County. He enjoys all things outdoors so it was fitting for him to start a lawn care business. At the age of 17, he began cutting yards with his push mower and has now grown his business to a fleet of trucks, trailers, mowers, and all the lawn equipment you can think of. In 2018, Jake formed an LLC for Long Cut Landscaping and has been focusing on growing a successful landscaping business and expanding his customer base. The perks of Jake’s “outside office” are the view of stripes in the grass, the smell of fresh mulch and feeling the warm sunshine! Along with his Long Cut Landscaping team, Jake takes pride in providing quality lawn care and landscaping services for residential properties, commercial properties, and several homeowners associations in Southern Maryland.
			</p>
    </div>
		<div class="col-lg-3">
			<h4>Services</h4>
			<ul>
				<li>Lawn Mowing</li>
				<li>Landscaping</li>
				<li>Mulching</li>
				<li>Leaf & Yard Waste Removal</li>
				<li>Flower Bed Planting</li>
				<li>Plant/Hedge Trimming & Removal</li>
				<li>Seasonal Contracts</li>
			</ul>
		</div>
		<div class="textCenter col-lg-3">
			<h4>Contact</h4>
			<h5>Phone Number</h5>
			<p></p>
			<h5>Email</h5>
			<p></p>
			<h6>Follow us</h6>
			<a class="socials" href="http://www.longcutlandscaping.com/"><i class="fa-brands fa-facebook"></i></a>
			<a class="socials" href="http://www.longcutlandscaping.com/"><i class="fa-brands fa-instagram"></i></a>
		</div>
  </div>
</div>

<div class="fadein textCenter container-fluid break">
	<div class="row">
		<div class="col-lg-12">
			<p style="margin-bottom:0.1%;">Copyright 2022 © | Long Cut Landscaping LLC </p>
			<p>Designed by Kyle Katzenmaier</p>
		</div>
	</div>
</div>


<script>
		ScrollReveal().reveal('.fadein');
	</script>

</body>

</html>
