<%- include('partials/header') %>

<div class="fadein p-5 mb-4 break">
  <div class="container-fluid py-5 ">
    <h1 class="textCenter display-5 fw-bold">Join Our Team</h1>
    <h6 class="textCenter col-lg-12 col-sm-9">Long Cut Landscaping is hiring!</h6>
    <div class="textCenter">
      <a href="/contact">
        <button type="button" class="btn" >Contact Us</button>
      </a>
    </div>
  </div>
</div>

<div class="fadein container">
  <div class="row">
    <img src="/images/ourteam.jpg" alt="">
</div>

<br>

</div>

<div class="fadein break container-fluid">
  <div class="row justify-content-evenly d-flex">
    <div class="hiring col-lg-8">
      <h1>Long Cut Landscaping is hiring!</h1>
      <h5>Experience in landscaping services and knowledge of lawn equipment is necessary. Duties will include mowing lawns using push, zero turn, and stand-on mowers; weed eating and edging; blowing lawn clippings and leaves; pruning shrubs and small trees with hedge trimmers, chain saws and shears; leaf removal with blowers and by hand with a rake; planting flowers, trees, and shrubs; installing mulch; and other duties as assigned. For more information, call or text Jake at 301.908.6851
      </h5>
    </div>
    <div class="col-lg-4">
      <ul><h1>Requirements:​</h1>
        <li>Must have a valid driver’s license</li>
        <li>Basic knowledge of lawn care and landscaping</li>
        <li>Experience operating gas-powered small equipment</li>
        <li>Experience operating zero turn mowers</li>
        <li>Performing manual labor</li>
        <li>Strong work ethic and willingness to learn new tasks</li>
        <li>Pass randomized drug screenings</li>
      </ul>
    </div>
  </div>
</div>

<br>
<%- include('partials/footer') %>
