<%- include('partials/header') %>
<div class="p-5 mb-4 break ">
    <div class="container-fluid py-5 ">
      <h1 class="textCenter display-5 fw-bold">Email Service Disabled</h1>
      <h6 class="textCenter col-lg-12 col-sm-9">Hosting services are not being paid. This service has been disabled.</h6>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
<%- include('partials/footer') %>