<%- include('partials/header') %>

<!-- Jumbotron -->

<div class="p-5 mb-4 break ">
  <div class="container-fluid py-5 ">
    <h1 class="textCenter display-5 fw-bold">Portfolio</h1>
    <h6 class="textCenter col-lg-12 col-sm-9"></h6>
    <div class="textCenter">
      <a href="/contact">
        <button type="button" class="btn" >Contact Us</button>
      </a>
    </div>
  </div>
</div>

<!-- Gallery -->

<div class="heros fadein container my-5">

  <div class="row justify-content-evenly">
    <div class="col-lg-4 m-0 overflow-hidden  p-3 shadow-lg">
        <img class="portfolioimg rounded-lg-4" src="/images/mowing04.jpg" alt="">
    </div>
    <div class="col-lg-4 m-0 overflow-hidden  p-3 shadow-lg">
        <img class="portfolioimg rounded-lg-4" src="/images/mowing07.jpg" alt="">
    </div>
    <div class="col-lg-4 m-0 overflow-hidden  p-3 shadow-lg">
        <img class="portfolioimg rounded-lg-4" src="/images/mowing05.jpg" alt="">
    </div>
    <div class="col-lg-4 m-0 overflow-hidden  p-3 shadow-lg">
        <img class="portfolioimg rounded-lg-4" src="/images/mowing08.jpg" alt="">
    </div>
    <div class="col-lg-4 m-0 overflow-hidden  p-3 shadow-lg">
        <img class="portfolioimg rounded-lg-4" src="/images/landbefore01.jpg" alt="">
    </div>
    <div class="col-lg-4 m-0 overflow-hidden  p-3 shadow-lg">
        <img class="portfolioimg rounded-lg-4" src="/images/landafter01.jpg" alt="">
    </div>
    <div class="col-lg-4 m-0 overflow-hidden  p-3 shadow-lg">
        <img class="portfolioimg rounded-lg-4" src="/images/land03.jpg" alt="">
    </div>
    <div class="col-lg-4 m-0 overflow-hidden  p-3 shadow-lg">
        <img class="portfolioimg rounded-lg-4" src="/images/mowing06.jpg" alt="">
    </div>
    <div class="col-lg-4 m-0 overflow-hidden  p-3 shadow-lg">
        <img class="portfolioimg rounded-lg-4" src="/images/mowing02.jpg" alt="">
    </div>
    <div class="col-lg-4 m-0 overflow-hidden  p-3 shadow-lg">
        <img class="portfolioimg rounded-lg-4" src="/images/landbefore02.jpg" alt="">
    </div>
    <div class="col-lg-4 m-0 overflow-hidden  p-3 shadow-lg">
        <img class="portfolioimg rounded-lg-4" src="/images/landafter02.jpg" alt="">
    </div>
    <div class="col-lg-4 m-0 overflow-hidden  p-3 shadow-lg">
        <img class="portfolioimg rounded-lg-4" src="/images/mowing01.jpg" alt="">
    </div>
    <div class="col-lg-4 m-0 overflow-hidden  p-3 shadow-lg">
        <img class="portfolioimg rounded-lg-4" src="/images/leafbefore01.jpg" alt="">
    </div>
    <div class="col-lg-4 m-0 overflow-hidden  p-3 shadow-lg">
        <img class="portfolioimg rounded-lg-4" src="/images/leafafter01.jpg" alt="">
    </div>
    <div class="col-lg-4 m-0 overflow-hidden  p-3 shadow-lg">
        <img class="portfolioimg rounded-lg-4" src="/images/mulching02.jpg" alt="">
    </div>
  </div>
</div>

<ul id="ul">
</ul>

<%- include('partials/footer') %>
