<%- include('partials/header') %>

<!-- Jumbotron -->

<div class="p-5 mb-4 break">
  <div class="container-fluid py-5 ">
    <h1 class="textCenter display-5 fw-bold">Services</h1>
    <h6 class="textCenter col-lg-12 col-sm-9"></h6>
    <div class="textCenter">
      <a href="/contact">
        <button type="button" class="btn" >Contact Us</button>
      </a>
    </div>
  </div>
</div>

<!-- Heros section -->

<div class="heros fadein container my-5">
  <div class="row  align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-5 fw-bold lh-1">Full-Service Mowing</h1>
      <p class="lead">Routine lawn maintenance, mowing, trimming, edging.
      </p>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img class="rounded-lg-3" src="/images/mowing09.jpg" alt="" width="100%">
    </div>
  </div>
</div>

<div class="heros fadein container my-5">
<!-- Mobile option -->
  <div class="col-lg-7 p-3 p-lg-5 pt-lg-3 desktop-hide">
    <h1 class="display-5 fw-bold lh-1">Landscape Installation and Maintenance</h1>
    <p class="lead">Bed installation and clean up; shrub and hedge trimming and maintenance; edging; leaf removal; mulch installation; rock installation; flower, bush and tree plantings.
    </p>
  </div>
<!-- Desktop option -->
  <div class="row  align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img class="rounded-lg-3" src="/images/land03.jpg" alt="" width="100%">
    </div>
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3 mobile-hide">
      <h1 class="display-5 fw-bold lh-1">Landscape Installation and Maintenance</h1>
      <p class="lead">Bed installation and clean up; shrub and hedge trimming and maintenance; edging; leaf removal; mulch installation; rock installation; flower, bush and tree plantings.
      </p>
    </div>
  </div>
</div>

<div class="heros fadein container my-5">
  <div class="row  align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-5 fw-bold lh-1">Small Tree Trimming and Removal</h1>
      <p class="lead"></p>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img class="rounded-lg-3" src="/images/tree01.jpg" alt="" width="100%">
    </div>
  </div>
</div>

<div class="heros fadein container my-5">
  <!-- Mobile option -->
  <div class="col-lg-7 p-3 p-lg-5 pt-lg-3 desktop-hide">
    <h1 class="display-5 fw-bold lh-1">Storm Clean Up</h1>
    <p class="lead">Cut and removal of storm debris, including small trees, branches, leaves.
    </p>
  </div>
  <!-- Desktop option -->
  <div class="row  align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img class="rounded-lg-3" src="/images/storm01.jpg" alt="" width="100%">
    </div>
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3 mobile-hide">
      <h1 class="display-5 fw-bold lh-1">Storm Clean Up</h1>
      <p class="lead">Cut and removal of storm debris, including small trees, branches, leaves.
      </p>
    </div>
  </div>
</div>

<div class="heros fadein container my-5">
  <div class="row  align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-5 fw-bold lh-1">Snow Removal</h1>
      <p class="lead"></p>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img class="rounded-lg-3" src="/images/snow01.jpg" alt="" width="100%">
    </div>
  </div>
</div>

<!-- <div class="heros fadein container my-5">
  Mobile option
  <div class="col-lg-7 p-3 p-lg-5 pt-lg-3 desktop-hide">
    <h1 class="display-5 fw-bold lh-1">Plant/hedge trimming & removal</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Est ullamcorper eget nulla facilisi etiam dignissim diam.
    </p>
  </div>
  Desktop option
  <div class="row  align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img class="rounded-lg-3" src="https://scontent-iad3-2.xx.fbcdn.net/v/t1.6435-9/131535118_1001108957048311_2538288965730988061_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=dJpNwdrl504AX85z-S1&_nc_ht=scontent-iad3-2.xx&oh=00_AT-Mj80x41WHi78-22Zm6DZTNNPE-Sioe2BqKokCHLPKrw&oe=629911D6" alt="" width="100%">
    </div>

    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3 mobile-hide">
      <h1 class="display-5 fw-bold lh-1">Plant/hedge trimming & removal</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Est ullamcorper eget nulla facilisi etiam dignissim diam.
      </p>
    </div>
  </div>
</div> -->

<%- include('partials/footer') %>
