<%- include('partials/header') %>

<div class="p-5 mb-4 break ">
  <div class="container-fluid py-5 ">
    <h1 class="textCenter display-5 fw-bold">Testimonials</h1>
    <h6 class="textCenter col-lg-12 col-sm-9"></h6>
    <div class="textCenter">
      <a href="/contact">
        <button type="button" class="btn" >Contact Us</button>
      </a>
    </div>
  </div>
</div>
<br>
<br>
<br>

<div class="fadein break container-fluid">
  <div class="card-group">
      <div class="card m-3">
        <div class="card-body testomonial">
          <p>"Thank you to Jake and his crew at Long Cut Landscaping, LLC.! They did an amazing job with some very overgrown flower beds and planted several trees for us too. I love the rock beds to move the rain water!! They will be back to build us a brand new bed and we can’t wait. Highly recommend Long Cut Landscaping. Give Jake a call!"
          </p>

        </div>
      </div>
      <div class="card m-3">
        <div class="card-body testomonial">
          <p>"Jake is professional and really did a great job on my yard!! I'm more than pleased with his work!! Highly recommended and very affordable!! Thank you Jake!!"
          </p>

        </div>
      </div>
      <div class="card m-3">
        <div class="card-body testomonial">
          <p>"Jake was awesome! Came out to look at my yard immediately for an estimate! Said he would call me during the week to let me know when he was coming through to take care of my yard! Came home from work and my yard looked amazing! Will be using him again! Thank you!"
          </p>
        </div>
      </div>
      <div class="card m-3">
        <div class="card-body testomonial">
          <p>"Did an amazing job cleaning all of the leaves on our property. Looks beautiful!! Very polite and professional team. Great price and quality work!! Thank you Jake!!"
          </p>
        </div>
      </div>
    </div>
    <div class="card-group">
    <div class="card m-3">
      <div class="card-body testomonial">
        <p>"Highly recommend this company for any of your lawn care needs. Very easy to work with and professional. This is a respectable company to deal with."
        </p>
      </div>
    </div>
    <div class="card m-3">
      <div class="card-body testomonial">
        <p>"Prompt, professional and polite. I have a large piece of property I would be spending my free time maintaining all year round. Instead, I call Jake and it's more than just done, it's beautiful. Money well spent. Thanks Jake."
        </p>
      </div>
    </div>
    <div class="card m-3">
      <div class="card-body testomonial">
        <p>"Did a great job removing my leaves 🍁I highly recommend and will definitely refer my family and friends
          Thank You!"
        </p>
      </div>
    </div>
  </div>
  </div>











<%- include('partials/footer') %>
